.sidebar-wrapper {
  position: fixed;
  background-color: rgb(27, 27, 27);
  width: 240px;
  height: 100%;
  overflow-y: scroll;
  user-select: none;
  left: -240px;
  transition: left 200ms;
  z-index: 1;
  scrollbar-width: none;
}

.sidebar-wrapper::-webkit-scrollbar {
  width: 0px;
}

.sidebar-wrapper div {
  padding: 16px;
  transition: background-color 200ms;
  cursor: pointer;
}

.sidebar-wrapper div:hover {
  background-color: rgb(93, 23, 222);
}

@media screen and (width >= 720px) {
  .sidebar-wrapper {
    left: 0;
  }
}
